@use '../styles/variables';

.label {
	&:global(.blue) {
		background-color: var(--mediatype-label-blue);
		color: #fff;
	}

	&:global(.teal) {
		background-color: var(--mediatype-label-teal);
		color: #fff;
	}

	&:global(.top.right.attached) {
		position: absolute;
		top: 0.5rem;
		right: 0.5rem;
		font-size: 0.68rem;
		padding: 0.25em 0.5em;
		border-radius: 4px;
		z-index: 1;
		pointer-events: none;
	}
}
