@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.ui.label.blue,
.ui.label.teal {
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  font-size: 0.9rem;
  color: white;
}

.ui.label.blue {
  background-color: v.$mediatype-label-blue !important;
  border-color: v.$mediatype-label-blue !important;
  color: white;
}
.ui.label.teal {
  background-color: v.$mediatype-label-teal !important;
  border-color: v.$mediatype-label-teal !important;
  color: white;
}
